
/* custom variable */
:root {
    --main-color: #63BBBB;
    --secondary-color: #215258;
    --main-bg-color: rgba(246, 128, 16, 1);
    --primary-text-color:rgba(255, 255, 255, 1);
    --secondary-text-color:rgba(3, 28, 38, 1);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: var(--main-color);
    font-family: roboto;
}

._container-sm {
    padding: 0 2rem;
}

._col-2 {
    width: 100%;
    padding: 1rem;
    height: 100%;
}

._padding-0 {
    padding: 0 !important;
}

._main-btn {
    background-color: var(--main-bg-color);
    padding: .8rem 1.6rem;
    border-radius: .7rem;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: bold;
    text-align: center;
}

._main-btn:hover {
    background-color: rgba(158, 77, 0, 1);
    transition: background-color 0.3s ease;
}

h1 {
    margin: 0;
}

p{
    margin: 0;
}

/* header */
header {
    height: 100px;
    position: relative;
    background-color: var(--secondary-color);
}

.logo img {
    height: 50px; /* Adjust as needed */
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--primary-text-color);
    font-size: 3rem;
    cursor: pointer;
    padding: 5px;
}

.nav-menu ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 40px;
}

.nav-menu li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.nav-menu li a:hover {
    color: var(--main-bg-color);
}

/* Styles for the mobile menu */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: #333;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
    overflow-y: auto; /* Enable scrolling for long menus */
}

.mobile-menu.active {
    transform: translateX(0);
}


.mobile-menu-header {
    display: block;
    background-color: var(--main-color);
    z-index: 1001; /* Ensure header is above menu items */
    text-align: right;
    padding-right: 2rem;
}

.mobile-menu-header .logo img {
    height: 40px;
}

.close-btn {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 4rem;
}

.close-btn:hover {
    color: white;
}


.mobile-menu-list {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.mobile-menu-list li {
    margin-bottom: 20px;
}

.mobile-menu-list li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.mobile-menu-list li a:last-child {
    border-bottom: none;
}

.mobile-menu-list li a:hover {
    color: white;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}

/* CSS Down */
.nav-down {
    position: relative;
    display: inline-block;
}

.nav-down-btn {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.nav-down-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.nav-down-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-down-content a:hover {
    background-color: #f1f1f1;
}

.nav-down:hover .nav-down-content {
    display: block;
}

nav {
    height: 100%;
    background-color: var(--secondary-color);
}
._heigh-100 {
    height: 100%;
}

._nav-img {
    background-color: gray;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 10px 0;
}

._list-nav {
   padding: 0;
}

._list-nav li {
    padding: 0 10px;
}

._nav-btn{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.4rem;
}

._d-nav-sm {
    display: none !important;
}

._d-nav-lg {
    display: block !important;
}

._toggler-btn {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 2rem;
}

._toggler-btn:focus:not(:focus-visible) {
    border: 0;
    outline: none;
    box-shadow: none;
}

.offcanvas {
    background-color: #63BBBB;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.btn-close {
    font-size: 1.5rem
}

.navbar-toggler-icon {
    background-image: url("../img/Button.svg");
  }

/* Media Query per telefono */
@media (max-width: 480px) {
    ._d-nav-sm {
        display: block !important;
    }

    ._d-nav-lg {
        display: none !important;
    }
}

/* /header */

/* main */

/* hero */
#hero {
    background-color: var(--secondary-color);
    
    padding: 2rem 0;
}

._hero-wrap {
    flex-direction: column-reverse;
}

._hero-title {
    color: var(--primary-text-color);
    padding: .8rem 0;
    padding-bottom: 2rem !important;
    letter-spacing: .1rem;
    line-height: 3rem;
    font-size: 1.9rem;
    font-weight: bolder;
}

._hero-p {
    color: var(--primary-text-color);
    font-size: 1.2rem;
    padding-bottom: 3rem;
    font-weight: 300;
}

._hero-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}



/* Media Query per telefono */
@media (min-width: 768px) {
    #hero {
        padding-bottom: 5rem;
    }

    ._hero-wrap {
      flex-direction: row;
    }

    ._col-2 {
        width: calc(95% / 2);
    }

    ._hero-title{
        font-size: 1.5rem;
        padding-bottom: 1rem !important;
    }

    ._hero-p {
        padding-bottom: .5rem;
        margin-bottom: 2rem;
        font-size: .8rem;
    }
}

@media (min-width: 1024px) {
    ._hero-title{
        font-size: 3rem;
        padding-bottom: 2rem !important;
    }

    ._hero-p {
        padding-bottom: 1.5rem;
        font-size: 1.2rem;
    }
}
/* /hero */

/* cv */
._row-cv {
    padding: 5rem 0;
    flex-direction: column;
}

._cv-img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    object-fit: cover;
}

._cv-title {
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding-top: 1rem;
}

._cv-p {
    color: var(--secondary-color);
    padding-bottom: 3rem;
}

._cv-p span {
    font-size: .8rem;
    padding-bottom: .4rem;
}

/* Media Query per telefono */
@media (min-width: 768px) {
    ._col-2 {
        width: calc(95% / 2);
    }

    ._row-cv {
      flex-direction: row;
      padding: 3rem 0;
    }

    ._cv-title  {
        padding-top: 0rem;
    }

    ._cv-p span {
        font-size: .8rem;
        line-height: 1rem;
        padding-bottom: .4rem;
    }

    ._cv-p {
        padding-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    ._cv-title  {
        font-size: 3rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    ._cv-p span {
        font-size: 1.2rem;
        line-height: normal;
        padding-bottom: 2rem;
    }
}
/* /cv */

/* skills */
#skills {
    background-color: var(--secondary-color);
}

._skills-col {
    width: 100%;
    color: var(--primary-text-color);
    text-align: center;
}

._skills-list {
    flex-wrap: wrap;
    padding: 0;
}

._skills-list li {
    width: calc(80% / 3);
    margin-bottom: 2rem;
}

._skills-title {
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

._skills-li-img {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem
}

._skills-h3{
    font-size: 1.2rem;
    font-weight: 500;
}

._skills-p {
    font-size: 1rem;
}


/* Media Query per telefono */
@media (min-width: 768px) {
    ._skills-list {
        padding: 0;
        gap: 2rem;
    }
  
    ._skills-list li {
        width: calc(80% / 3);
    }

    ._skills-title {
        padding-bottom: 3rem;
        font-size: 2.5rem;
    }

    ._skills-h3{
        font-size: 1.75rem;
        font-weight: 500;
    }

    ._skills-p {
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    ._skills-list {
        flex-wrap: nowrap;
        padding: 0;
        gap: 2rem;
    }

    ._skills-title {
        font-size: 3rem;
    }
}
/* /skills */

/* projects */
._wrap-projects {
    flex-wrap: wrap;
    padding: 1rem 0;
    color: var(--primary-text-color);
    padding-bottom: 0!important;
  }

._projects-title {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 3rem;
}

._card-projects {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

._card-projects-img {
    width: 100%;
    height: 150px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    border: 1.5px solid white;
}

._card-projects h4 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}

._card-projects p {
    font-weight: 100;
    font-size: .8rem;
    padding-right: 0rem;
    margin-bottom: 2rem;
}

/* Media Query per telefono */
@media (min-width: 768px) { 
    ._wrap-projects {
        padding: 2.5rem;
        padding-bottom: 5rem !important;
        flex-direction: row !important;
    }

    ._card-projects {
        width: calc(90% / 2) !important;
        padding: 1rem;
    }

    ._projects-title {
        padding: 1rem;
    }
  
    ._card-projects  {
        width: 100%;
    }

    ._card-projects-img {
        height: 150px;
        aspect-ratio: 1/1;
    }

    ._card-projects h4 {
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: .8rem;
    }
    
    ._card-projects p {
        font-weight: 100;
        font-size: .8rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1024px) {
    ._card-projects {
        width: calc(90% / 3) !important;
        padding: 1rem;
    }
    ._card-projects h4 {
        font-size: 1.5rem;
    }
    
    ._card-projects p {
        font-size: 1.2rem;
        padding-right: 2rem;
    }

    ._card-projects-img {
        height: 180px;
    }
}
/* /projects */

/* /main */

/* footer */
footer {
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--primary-text-color);
}

._footer-top {
    padding: 6rem 0 3rem 0;
}

._footer-col {
    width: calc(80% / 2);
}

._footer-col-h3{
    color: var(--primary-text-color);
    letter-spacing: .1rem;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

._footer-col-p{
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 150;
    padding-bottom: 1.5rem;
}

._footer-col-ul {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}

._footer-col-btn{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
}

._footer-bottom{
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 150;
    text-align: center;
    padding: 2rem 0;
}

label {
    color: white;
    font-size: 1.2rem;
    font-weight: 150;
}

input {
    border-radius: .5rem;
    width: 100%;
    height: 40px;
    padding: .5rem;
    border-color: transparent;
}

input:focus-visible {
    outline-color: var(--main-bg-color) !important;
    outline: -webkit-focus-ring-color auto 1px;
}

textarea {
    border-radius: .5rem;
    width: 100%;
    height: 140px;
    padding: .5rem;
    margin-bottom: 1rem;
    border-color: transparent;
}

textarea:focus-visible {
    outline-color: var(--main-bg-color) !important;
    outline: -webkit-focus-ring-color auto 1px;
}

._footer-btn {
    background-color: var(--main-bg-color);
    padding: .2rem 1.6rem;
    border-radius: .7rem;
    text-decoration: none;
    color: var(--secondary-text-color);
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    border-color: transparent;
}

._footer-btn:hover {
    background-color: rgba(158, 77, 0, 1);
    transition: background-color 0.3s ease;
}

.alert-box {
    padding: 20px;
    background-color: #4CAF50; /* Verde per il successo */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: none; /* Inizialmente nascosto */
}

/* Media Query per telefono */
@media (max-width: 480px) {
    ._footer-top {
      flex-direction: column;
      padding: 3rem 0 1.5rem 0;
    }

    ._footer-col {
        width: 100%;
    }

    ._footer-col-h3 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    ._footer-col-p {
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    ._footer-top {
      flex-direction: column;
      padding: 3rem 0 1.5rem 0;
    }

    ._footer-col {
        width: 100%;
    }

    ._footer-col-h3 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    ._footer-col-p {
        padding-bottom: 1rem;
    }
}